<ion-footer class="container">
  <ion-toolbar>
    <ion-row class="all-img">
      <ion-col>
      <ion-avatar>
        <ion-img class="question-img" src="./assets/question 1.png"></ion-img>
      </ion-avatar>
    </ion-col>
    <ion-col>
        <ion-img class="tibil-logo" src="./assets/Group 146.png"></ion-img>
    </ion-col>
    <ion-col>
      <ion-img  class="ballon" src="./assets/3643728_balloon_chat_conversation_speak_word_icon 1.png"></ion-img>
    </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>