.container {
    width: 1197px;
    background: #ffff;
    height: 583px;
    border-radius: 8px;
    border: 1px solid #42BFDD
}

.imagesData {
    display: flex;
}

.titlerec {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;

}

.pencil {
    width: 30px;
    height: 30px;
    margin-right: 10px;

}

.message {
    width: 52px;
    height: 36.5px;
}

.three-dot {
    width: 30px;
    height: 30px;
}

.allL0go {
    position: absolute;
    right: 10px;
}

.text-color {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #A7A7A7;
}

.color-coding {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #414141;
}

.imgReceive {
    width: 70px;
    height: 90px;
}

.footer {
    border: 1px solid #ECE8C7;
}

.history-tab {
    display: flex;
}

.mask-img {
    width: 40px;
    height: 40px;
    margin-left: 30px;
}

.his-icon {
    padding-top: 5px;
}

.last {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #C4C4C4;


}

.content1 {
    display: flex;
    margin-left: 6px;
}

.span-ity {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;

}
.main-span{
margin-top: 10px;
margin-left: 5px;
}
.last-modify{
    margin-left: 6px;
}