.totla-content {
    width: 25px;
    height: 25px;
}

.totla-content1 {
    width: 35px;
    height: 35px;
}

span {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #414141;
    margin-left: 8px;
    margin-top: 20px;
}

.content {
    width: 187px;
    margin: 10px 10px;

}

.new {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #414141;

}

.newData{
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 10px;
}