head-title{
    height: 100px;
    color:#FFFFFF;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 4px 4px 0px  30% #C4C4C4 ;
 }
 .image-logo{
    padding: 20px 14.89px;
 }
 .bellimg{
    width: 35px;
    height: 36px;
    position: relative;
    top: 29px;
    left: 1430px;
 }
 .photoimg{
    width: 60px;
    height: 60px;
    position: relative;
    left: 1440.94px;
    top: 20px;
 }
 .showData{
    display: flex;
 }
 .Atm-logo{
    position: absolute;
    left: 6rem;
    top: 1.8rem;
 }
 .Atm-tilte{
    position: absolute;
    left: 9.5rem;
    top: 1.8rem;
 }