<div class="container">
  <div class="headermenue">
    <ion-header class="head-title" [translucent]="true">
      <ion-grid>
        <ion-row>
       <img class="Atm-logo" src="{{receivedData?.imageurl}}" alt="">
       <p class="Atm-tilte">{{receivedData?.title}}</p>
          <img class="image-logo" src="./assets/Vector (3).png" alt="">
          <img class="bellimg" src="./assets/Group 354.png" alt="">
          <img class="photoimg" src="./assets/Mask group.png" alt="">
        </ion-row>
      </ion-grid>
    </ion-header> 
  </div>
</div>