.container {
    width: 1197px;
    background: #ffff;
    height: 583px;
    border-radius: 8px;
    border: 1px solid #42BFDD
}

.imagesData {
    display: flex;
}

.titlerec {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;

}

.pencil {
    width: 30px;
    height: 30px;
    margin-right: 10px;

}

.message {
    width: 52px;
    height: 36.5px;
}

.three-dot {
    width: 30px;
    height: 30px;
}

.allL0go {
    position: absolute;
    right: 10px;
}

.text-color {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #A7A7A7;
}

.color-coding {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #414141;
}

.imgReceive {
    width: 70px;
    height: 90px;
}

.footer {
    border: 1px solid #ECE8C7;
    margin-top: 20.5rem;

}

.history-tab {
    display: flex;
}

.mask-img {
    width: 40px;
    height: 40px;
    margin-left: 30px;
}

.his-icon {
    padding-top: 5px;
}

.last {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #C4C4C4;


}

.content1 {
    display: flex;
    margin-left: 6px;
}

.span-ity {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;

}

.main-span {
    margin-top: 10px;
    margin-left: 5px;
}

.last-modify {
    margin-left: 6px;
}

.book {
    width: 30px;
    height: 30pxpx;
    margin-top: 10px;
    margin-left: 7px;
}

.vis {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    width: 77px;
    height: 30px;


}
.folder-content{
    display: flex;
}
.spm{
    margin-top: 6px;
    margin-left: 10px;
}

.save-btn {
    width: 30.11272430419922px;
    height: 30.204856872558594px;
     margin-right: 50px;
     margin-top: 11.5px;

}

.cancel-btn {
    width: 35.113319396972656px;
    height: 35.14262008666992px;
    margin-right: 40px;
    margin-top: 11.5px;

}