<div class="container">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="folder-content">
          <div>
            <ion-img class="book" src="./assets/book-svgrepo-com 1.png"></ion-img>
          </div>
         <div class="spm"> <span class="vis">Stories</span></div>
        </div>
        
       
      </ion-col>
      <ion-col>
        <div class="imagesData">
          <div class="allL0go">
            <img class="pencil" src="./assets/pencil 1.png" alt=""  (click)="isEdit()" *ngIf="!isEditMode">
            <img  class="save-btn" src="./assets/save btn.png" alt="" (click)="saveChanges()" *ngIf="isEditMode">
            <img class="cancel-btn" src="/assets/cancel btn.png" (click)="closeEdit()" *ngIf="isEditMode">
            <img class="message" src="./assets/Group 48.png" alt="">
            <img class="three-dot" src="./assets/Group 26.png" alt="">
          </div>
        </div>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <p class="text-color">Title</p>
          <p class="color-coding">Pocket ATM</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>    
      <ion-col>
        <div>
          <p class="text-color">Description</p>
          <p class="color-coding">Pocket ATM is an application that enables flexible, efficient & seamless cash & credit management </p>
        </div>
      </ion-col>
    <!-- </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <p class="text-color">status</p>
          <p class="color-coding1" style="color:#CAA10D">In Progress</p>
        </div>
      </ion-col>
    </ion-row> -->
    <!-- <ion-row>
      <ion-col>
        <div>
          <p class="text-color" >Product Link</p>
          <p class="color-coding">www.productlink.com</p>
        </div>
      </ion-col>
    </ion-row> -->
    <!-- <ion-row>
      <ion-col>
        <div>
          <p class="text-color">Logo</p>
          <img class="imgReceive" src="{{dataRecevied?.imageurl}}" alt="">
        </div>
      </ion-col>-->
    </ion-row> 
  </ion-grid>

  <ion-footer [translucent]="true" class="footer">
    <ion-toolbar>
      <ion-row>
        <ion-col>
          <div class="history-tab">
            <div>
              <img class="his-icon" src="./assets/326655_history_icon 1.png" alt="">
            </div>
            <div>
              <img  class="mask-img"src="./assets/Mask group.png" alt="">
            </div>
            <div class="content1">
              <div class="last-modify"> <p class="last">Last Modificationat :</p></div>
              <div class="main-span"><span class="span-ity">28 Mar 2022</span></div>
             <div class="main-span"> <span class="span-ity">11:07 am</span></div>
            </div> 
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
</div>