.content {
    width: 550px;
    height: 246px;
}

.cross-mark {
    width: 20px;
    height: 20px;

}

.pin {
    width: 30px;
    height: 30px;
    margin-right: -10rem;
}

.pin-img {
    margin-right: -20rem;
}

.cross-img {
    margin-right: -23rem;
}

.doc {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;

}

span {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
}

.story {
    width: 20px;
    height: 20px;
}

.ui {
    width: 20px;
    height: 20px;
}

.back {
    background: rgba(246, 253, 255, 1);
    // border: 1px solid rgba(66, 190, 221, 0.807) ;
    margin: 30px 30px;
    box-shadow: 0px 4px 4px 0px rgba(66, 191, 221, 0.1);
    border-left: 2px solid rgba(126, 112, 93, 1);
}

span {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;

}

ul {
    list-style-type: none;
}

.text-item {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(65, 65, 65, 1);
    // position: absolute;
    // left: 40px;


}

.item-folder {
    width: 20px;
    height: 16px;
}

.input-check {
    margin-left: -8px;
}


.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    padding: 0px;
    margin: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}
.selectnames{
    border-left: 1px solid rgba(151, 241, 236, 0.966);
    margin-left: 140px;
}