 

  <div class="sideMenubar" >
    <div class="sideMenuBarDiv">
      <div class="hamberger">
        <img src="./assets/134216_menu_lines_hamburger_icon 2.png" alt="hamburger" >
      </div>
        
      <ion-grid *ngIf="level === 1">
        <ng-container *ngFor="let item of sidemenu">
          <ion-row>
            <ion-col>
                <button class="menuButton" [routerLink]="item.url" >
                  <img class="img-logo" [src]="item.image" alt="">
                </button>
            </ion-col>
          </ion-row>
        </ng-container>
      </ion-grid>
      <ion-grid *ngIf="level === 2">
        <ng-container *ngFor="let data of sidebar" >
          <ion-row>
            <ion-col>
                <button class="menuButton" [routerLink]="data.url" (click)="navigation()">
                  <img class="img-logo" [src]="data.image" alt="">
                </button>
            </ion-col>
          </ion-row>
        </ng-container>
      </ion-grid>
     
    </div>
  </div>

