<ion-content class="content">
  <ion-list>
    <ion-grid>
      <div class="container">
      <ion-row>
        <ion-col> 
         <div class="flex">
          <div> <img src="./assets/added.png" alt=""></div>
         <div> <span class="spam">Save Baseline</span></div>
        </div>
        </ion-col>
        </ion-row>
         <ion-row><ion-col><div class="flex"><div><img src="/assets/roghtmark.png" alt=""></div>
          <div> <span class="spm1">view Baseline</span></div></div>
        </ion-col>
      </ion-row>
    </div>
    </ion-grid>
  </ion-list>
</ion-content>