.flex {
    display: flex;
}

.spam {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #42BFDD;
    margin-left: 10px;


}

.spm1{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #42BFDD;
    margin-left: 10px;
}
.content{
    margin: 40px;
    width: 190px;
    height: 125px;
}
.container{
    margin: 10px 10px;
}